@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Zen Maru Gothic", sans-serif;
  background-color: #f9f3eb;
  color: #3d2d18;
  line-height: 1.8;
}

#wrap{
  overflow: hidden;
}

header {
  position: relative;
  padding: 20px;
  color: #3d2d18;
  background-color: #f9f3eb;
}

header h1 {
  margin-right: auto;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 20px;
}

header ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 15px;
  color: #3d2d18;
}

header li {
  width: auto;
  margin-right: 20px;
  color: #3d2d18;
}

.site-header{
  background-color: #f9f3eb;
  color: #3d2d18;
  padding: 30px;
}
.site-footer{
  background-color: #f9f3eb;
  color: #3d2d18;
  padding: 30px;
  opacity: 0.5;
}

nav {
  /* display: none; */
  height: 100vh;
  width: 300px;
  position: absolute;
  top: 0;
  right: -300px;
  z-index: 50;
  background-color: rgba(0, 0, 0, .5);
  transition: transform .5s;
  color: #3d2d18;
}

#navBtn {
  display: none;
}

#navBtn:checked ~ nav {
  display: block;
  transform: translateX(-300px);
}

.open {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 1px solid #3d2d18;;
  border-radius: 2px;
}

/*humburger button*/

.open::before,
.open::after {
  content: "";
}

.open span,
.open::before,
.open::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #3d2d18;;
  transition: transform .5s;
}

.open::before {
  transform: translateY(-8px);
}

.open::after {
  transform: translateY(8px);
}

/*close button*/
#navBtn:checked + .open span {
  transform: scaleX(0);
}

#navBtn:checked + .open::before {
  transform: rotate(45deg);
}

#navBtn:checked + .open::after {
  transform: rotate(-45deg);
}

#navBtn:checked + .open span,
#navBtn:checked + .open::before,
#navBtn:checked + .open::after {
  border-bottom-color: #EEE;
}

nav ul {
  list-style: none;
  padding-bottom: 1rem;
  text-align: center;
  
}

nav ul li {
  /* display: inline-block; */
  margin: 0 10px;
  padding: 10px 0;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #EEE;
}


section {
  max-width: 1200px;
  padding: 20px;
  margin-bottom: 20px;
  /* text-align: center; */
  background-color: #f9f3eb;
  margin-right: auto;
  margin-left: auto;
}

section h1 {
  margin-bottom: 10px;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 32px;
  color: #533f23;
}


.about {
  /* text-align: center; */
  padding: 3rem 1rem;
}

/* スマホで縦並び */
.data {
  flex-direction: column;
}

.data{
  display: flex;
}

.greenbox {
  align-items: center;
  gap: 2rem;
  background-color: #3b773b;
  color: #f9f3eb;;
  padding: 2rem 2rem;
  border-radius: 12px;
  margin: 2rem auto;
  text-align: left;
}

.greenbox a,
.greenbox p {
  color: #f9f3eb;
}

.btn {
  background-color: #f9f3eb;;
  color: #3b773b;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
  background-color: #f9f3eb;;
  color: #a71919;
}

.image-item img {
  width: 100%;
  height: auto;
}

.img-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.img2-item img {
  width: 30%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.download-btn {
  display: inline-block;
  width: 250px;
  padding: 20px;
  border-radius: 4px;
  border: none; 
  text-align: center;
  background: #3d2d18;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1rem;
  margin: 3rem 3rem;
}

.download-btn:hover, .download-btn:focus {
  background: #a71919;
}

.back-btn {
  display: inline-block;
  background: #3d2d18;
  color: #fff;
  padding: 0.5em 1.2em;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1rem;
  transition: background 0.3s ease;
  margin: 3rem 3rem;
}

.back-btn:hover {
  background: #a71919;
}

.pagetop img{
  width: 120px;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10; /*ナビゲーションより下*/
}

@media screen and (min-width:768px) {
  /*　画面サイズが768px以上の場合読み込む　*/
  h1 {
    font-size: 20pt;
  }

  header ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #3d2d18;;
  }
  
  nav {
    display: flex;
    height: auto;
    width: 100%;
    position: static;
    background-color: transparent;
  }
  
  nav ul li {
    display: flex;
  }

  nav ul li a {
    color: #3d2d18;
  }

  #navBtn,
  .open {
    display: none;
  }

	.data {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .data h3,
  .data figure{
    width: 50%;
  }

  .data div {
    width: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@media screen and (min-width:1200px) {

  #about {
    text-align: center;
  }

  .greenbox {
    display: flex;
    width: 1000px;
  }

  .greenbox-item {
    flex: 3;
  }

  .greenbox figure {
    flex: 2;
  }

  .img2-item img {
    width: 15%;
    height: auto;
  }
  
  .author {
    padding: 2rem;
    text-align: center;
    margin: 3rem auto;
    width: 100%;
  }

}

@keyframes marquee-right {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}

html {
  scroll-behavior: smooth;
}